@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1647594809147') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-weizhi:before {
  content: "\f014a";
}

.icon-xie:before {
  content: "\346d";
}

.icon-wenhao:before {
  content: "\e72d";
}

.icon-shaixuan:before {
  content: "\e74a";
}

.icon-yuding:before {
  content: "\e715";
}

.icon-QQ:before {
  content: "\e65e";
}

.icon-weibo:before {
  content: "\e73c";
}

.icon-sousuo:before {
  content: "\e69b";
}

.icon-buhang:before {
  content: "\e602";
}

.icon-zhifubaozhifu:before {
  content: "\e605";
}

.icon-001diandongche:before {
  content: "\e829";
}

.icon-weixin:before {
  content: "\e607";
}

.icon-pinpaibiaoshi_baidu:before {
  content: "\e659";
}

.icon-JC_054:before {
  content: "\e660";
}

